/* Base */
body {
	background: #ffcc80;
	height: 100vh;
	padding: 2%;
    font-family: sans-serif;
}

.container {
	background: white;
	padding: 5%;
	margin-bottom: 5%;
	border-radius: 5px;
	display: block;
}

.container style{
	display: block;
	white-space: pre;
}

.container .wrapper {
	width: 100%;
}

.square {
    color: white;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	background: #ff6a00;
}

button {
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	border: none;
	border-radius: 2px;
	position: relative;
	margin: 0;
	padding: 0 16px;
	display: inline-block;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	will-change: box-shadow;
	transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	background: #ff6a00;
	color: #fff;
}